body{
	text-align: center;
}

.margin-auto{
	margin-left: auto;
	margin-right: auto;
}

.all-container{
	width: 100%;
	height: 500px;
}

.field-container{
	text-align: center;
	width: 20%;
	height: auto;

	margin-left: auto;
	margin-right: auto;
}

.field{
	text-align: center;
}

.field-table{
	margin-left: auto;
	margin-right: auto;

	aspect-ratio: 10/20;
}

td{
	width: 7px;

	border: 1px solid white;
}

.num-0-mono{
	background-color: whitesmoke;
}
.num-2-mono{
	background-color: yellow;
}
.num-3-mono{
	background-color: purple;
}
.num-4-mono{
	background-color: green;
}
.num-5-mono{
	background-color: red;
}
.num-6-mono{
	background-color: blue;
}
.num-7-mono{
	background-color: orange;
}
.num-8-mono{
	background-color: aqua;
}

.button-group-container{
	margin-top: 32px;
}

.moving-button-group{
	display: flex;
	justify-content: space-around;
}

.moving-button{
	width: 16%;
	height: 3em;
}